.signup-container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden; 
    font-family: 'Libre Baskerville';
}
.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #333;
    font-size: x-large;
}

.signup-carousel-half {
    flex-basis: 75%; 
    height: 100vh; 
    overflow: hidden; 
}

.signup-carousel-half .carousel,
.signup-carousel-half .carousel-inner,
.signup-carousel-half .carousel-item {
    height: 100%;
}

.signup-carousel-half .carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.carousel-caption, .carousel-indicators, .carousel-control-prev, .carousel-control-next {
    z-index: 2;
}
.text-car{
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
    padding: 1.25rem;
    border-radius: 8px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px); 
}


.signup-form-half {
    flex-basis: 50%;
    height: 100%; 
    overflow-y: auto; 
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    align-items: center;
    padding: 2rem;
    background-color: #f4f7f6;
}

.signup-form {
    width: 100%;
    max-width: 450px; 
    padding: 2.5rem;
    background-color: #ffffff;
    border-radius: 8px;
     box-shadow: 8px 8px 24px 0px rgba(66, 68, 75, 1);
}

.signup-form h1 {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    text-align: center;
}

.signup-form p {
    text-align: center;
    margin-bottom: 2rem;
    color: #555;
}

.form-group {
    margin-bottom: 1.25rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: #333;
}

.form-control:focus {
    border-color: #0d6efd;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.login-link {
    display: block;
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1rem;
    color: #555;
}

.login-link a {
    color: #0d6efd;
    text-decoration: none;
    font-weight: 600;
}

.login-link a:hover {
    text-decoration: underline;
}

@media (max-width: 992px) {
    .signup-container {
        flex-direction: column;
    }
    
    .signup-carousel-half {
        height: 50vh; 
        flex-basis: auto; 
    }

    .signup-form-half {
        flex-basis: auto; 
        padding: 2rem 1rem; 
    }

    .signup-form {
        padding: 2rem;
    }
}