.view-ann-container {
    width: 90%;
    max-width: 900px;
    margin: 0.5rem auto;
    padding: 0.5rem;
    font-family: 'Libre Baskerville', serif;
}

.view-ann-title {
    font-size: 2rem;
    font-weight: 700;
    color: #2c3e50;
    margin-bottom: 1rem;
    text-align: center;
    display: inline-block;
}

.loading-text,
.no-announcements-view {
    font-size: 1rem;
    color: #555;
    text-align: center;
    padding: 4rem 2rem;
    background-color: #f9f9f9;
    border-radius: 12px;
    margin-top: 2rem;
}

.announcement-list-view {
    display: flex;
    flex-direction: column;
}
